/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    overflow: overlay;
}

body {
    background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
    background: -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
    background: -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
    background: -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
    background: linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
    font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
    text-align: center;
    font-size: 0.6em;
    color: $dark;
    font-weight: 100;
}

.container {
    width: 100%;
    min-width: 750px;
    max-width: 1050px;
    background: $white_opaque;
    margin: 3em auto 0 auto;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .03);
    padding: 1em 1em;

    // background-image: url("banner_background.png"),
    //     linear-gradient(to right, rgb(52, 123, 190), rgba(52, 190, 137, 0.5));
    // background-blend-mode: overlay;
}

.container_transparent {
    width: 100%;
    min-width: 750px;
    max-width: 1050px;
    background: transparent;
    margin: 3em auto 0 auto;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .03);
    padding: 1em 1em;
}

.page_title {
    font-weight: 700;
    font-size: auto;
    color: white;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: auto;
    color: white;
    text-align: center;
}

.checklist_title {
    text-align: center;
    font-weight: 700;
    font-size: auto;
    text-transform: uppercase;
    color: white;
    margin: 0;

    a {
        text-decoration: none;
        color: white;
        transition: all .4s ease-in-out;

        &:hover {
            opacity: 0.4;
        }
    }
}

.checklist_title_actions {
    font-weight: 700;
    font-size: auto;
    text-transform: uppercase;
    color: white;
    margin-right: 0.5em;

    a {
        text-decoration: none;
        color: white;
        transition: all .4s ease-in-out;

        &:hover {
            opacity: 0.4;
        }
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }
}

.checklist_sub_title {
    margin: 0 0 3em 0;
    text-align: center;
    font-size: auto;
    color: white;
    font-weight: 100;
}

.index_row {
    padding: 2em;
    border-bottom: 1px solid rgba(250, 250, 250, .3);

    .checklist_sub_title {
        margin-bottom: 0;
    }
}

#checklist_items_wrapper {
    h4 {
        margin: 0;
        color: white;
        font-weight: 500;
    }

    .row {
        margin: 0.25em;
        width: 100%;
        border-top: 1px solid rgba(250, 250, 250, .3);
        border-bottom: 1px solid rgba(250, 250, 250, .3);
        border-radius: 10px;

        .complete {
            width: 10%;
            float: left;
            text-align: center;
            border-right: 1px solid rgba(250, 250, 250, .3);
            padding: 1em 0;

            i {
                color: white;
            }

            a {
                display: contents;
                color: white;
                transition: all .4s ease-in-out;

                &:hover {
                    color: black;
                }

                i:hover:before {
                    content: "\f00d";
                    padding: 5px;
                    border-radius: 50%;
                    background-color: #ffffff49;
                }
            }


        }

        .checklist_item {
            width: 35%;
            float: left;
            padding: 1em;

            p {
                margin: 0;
                color: white;
                font-weight: 100;
            }
        }

        .checklist_item_result {
            width: 15%;
            float: left;
            text-align: center;
            border-left: 1px solid rgba(250, 250, 250, .3);
            padding: 1em 0;
            color: white;

            img {
                padding-left: 1em;
                padding-right: 1em;
            }
        }

        .checklist_item_form_heading {
            width: 50%;
            float: left;
            padding: 0.5em 0;
        }

        .checklist_item_options {
            width: 30%;
            float: left;
            text-align: center;
            border-left: 1px solid rgba(250, 250, 250, .3);
            padding: 1em 0;

            a {
                color: white;
                background-color: #307946a1;
                padding: 0.2em 0.5em;
                display: inline-block;
                margin-right: 1px;
                border-radius: 5px;
            }

            a:hover {
                text-decoration: none;
                border-color: white;
                color: white;
                background-color: #398AA4;
            }
        }

        .action {
            width: 10%;
            float: left;
            text-align: center;
            border-left: 1px solid rgba(250, 250, 250, .3);
            padding: 1em 0;

            a {
                color: white;
            }
        }

    }

    #form {
        margin-top: 2em;

        .image_box {
            border: 2px dotted rgba(255, 255, 255, 0.5);
            display: inline-block;
            margin-top: 0;
            border-radius: 4px;

            button {
                color: white;
                background-color: #307946a1;
                padding: 0.2em 0.5em;
                display: inline-block;
                margin-left: 5px;
                border-radius: 5px;
            }

            button:hover {
                background-color: #398AA4;
            }

            input[type="file"] {
                border-radius: 4px;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.5);
            }

            input[type="file"]:hover {
                cursor: pointer;
            }
        }


        input[type="text"] {
            width: 96%;
            margin-left: 1.0em;
            margin: 0.5em;
            display: inline-block;
            outline: none;
            background: rgba(250, 250, 250, .4);
            border: none;
            height: 40px;
            border-radius: 4px;
            padding: 1em 2em;
        }

        select {
            width: 90%;
            display: inline-block;
            outline: none;
            background: rgba(250, 250, 250, .4);
            border: none;
            height: 40px;
            border-radius: 4px;
            padding: 1em 2em;
        }

        input[type="submit"] {
            width: 80%;
            background: rgba(250, 250, 250, .4);
            outline: none;
            border: none;
            height: 40px;
            border-radius: 4px;
            display: inline-block;
            transition: all .4s ease-in-out;
            cursor: pointer;

            &:hover {
                background: $dark;
            }
        }

        ::-webkit-input-placeholder {
            color: $dark;
        }
    }

    #form-edit {
        width: 80%;

        input[type="text"] {
            width: 60%;
            margin: 0.5em;
        }

        select {
            width: 20%;
            margin: 0.5em;
            display: inline-block;
            outline: none;
            background: rgba(250, 250, 250, .4);
            border: none;
            height: 40px;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"] {
            width: 15%;
            height: 40px;
            margin: 0.5em;
            display: inline-block;
            outline: none;
            background: rgba(250, 250, 250, .4);
            border: none;
            border-radius: 4px;
            transition: all .4s ease-in-out;
            cursor: pointer;

            &:hover {
                background: $dark;
            }
        }

        ::-webkit-input-placeholder {
            color: $dark;
        }
    }

    #form-edit-title {
        text-align: center;

        input[type="text"] {
            text-align: center;
            width: 50%;
            display: inline-block;
            outline: none;
            background: rgba(250, 250, 250, .4);
            border: none;
            height: 40px;
            border-radius: 4px;
        }

        textarea {
            text-align: center;
            width: 50%;
            display: inline-block;
            outline: none;
            background: rgba(250, 250, 250, .4);
            border: none;
            height: 40px;
            border-radius: 4px;
            height: 50px;
        }

        input[type="submit"] {
            width: 20%;
            background: rgba(250, 250, 250, .4);
            outline: none;
            border: none;
            height: 40px;
            border-radius: 4px;
            display: inline-block;
            transition: all .4s ease-in-out;
            cursor: pointer;

            &:hover {
                background: $dark;
            }
        }

        ::-webkit-input-placeholder {
            color: $dark;
        }
    }
}

.checklist_item_img img {
    width: 150px;
    height: auto;
}

.profile {
    .banner {
        padding: 10px;
        background: #1abc9c7c;
        color: white;
        border-radius: 5px;

        .user_img {
            img {
                vertical-align: middle;
                margin-right: 10px;
                width: 150px;
                height: auto;
                float: left;
                border-radius: 50%;
            }
        }

        .text {
            text-align: left;
        }

        h1 {
            padding-top: 8px;
            padding-left: 10px;
        }

    }

    .banner_background {
        border-radius: 5px;
        background-image: url("banner_background.png"), linear-gradient(to right, rgb(52, 123, 190), rgba(52, 190, 137, 0.5));
        background-blend-mode: overlay;
    }

    .table {
        width: 25%;
    }

}

.links {
    display: block;
    margin: 1.5em auto 0 auto;
    text-align: center;
    font-size: 0.8em;
    color: white;

    a {
        color: white;
    }
}

.log-out-links {
    float: right;
    display: block;
    text-align: right;
    // color: white;

    a {
        padding: 2px;
        color: $dark;
    }

    a:hover {
        color: white;
        background-color: #398AA4;
        border-radius: 2px;
        text-decoration: none;
    }


}

.header-links {
    display: block;
    margin: 1.5em auto 0 auto;
    text-align: left;
    font-size: 1.0em;
    color: white;

    a {
        text-decoration: none;
        margin-left: 1.5em;
        color: white;
    }
}

.plain-links {
    a {
        text-decoration: none;
        color: white;
    }
}


.forms {
    padding: 0 5%;
}

label {
    color: $dark;
}

input[type="text"],
textarea {
    width: 100%;
    display: inline-block;
    outline: none;
    background: rgba(250, 250, 250, .4);
    border: none;
    height: 40px;
    border-radius: 4px;
    padding: 1em 2em;
}

textarea {
    height: 200px;
}

input[type="submit"] {
    background: white;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 4px;
    width: 25%;
    display: inline-block;
    transition: all .4s ease-in-out;
    cursor: pointer;
    color: $dark;

    &:hover {
        background: $dark;
        color: white;
    }
}

::-webkit-input-placeholder {
    color: $dark;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 7px 7px 7px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 7px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: default;
    border-radius: 7px 7px 0px 0px;
}

.forms input[type="email"],
.forms input[type="password"],
.forms select {
    width: 50%;
    height: 32px;
    padding: 0 0.4rem;
    border-color: #cecece;
    border-radius: 7px;
}

.logo-image {
    padding-right: 0.5em;
    float: left;

    img {
        width: 50px;
        height: auto;
    }

    a:hover {
        display: block;
        background-color: transparent;

        img {
            opacity: 0.5;
        }
    }

}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
// table {
//     border-collapse: collapse;
//     border-radius: 10px;
//     overflow: hidden;
//     text-align: center;
//     table-layout: fixed;
//     width: 100%;
//     height: 100%;
// }

// thead {
//     color: white;
//     background: gray;
// }

// tbody {
//     background: rgba(255, 255, 255, 1.0);
// }

// tbody tr:hover {
//     color: #555555;
//     background: #f5f5f5;
//     cursor: default;
// }

// th,
// td {
//     padding: 1em 1em;
//     height: 50px;
//     border-bottom: 1px solid #ddd;
// }

// table td:first-child {
//     text-align: left;
// }

// table th:first-child {
//     text-align: left;
//     margin: 100px;
// }

/* Table 2*/
table.steelBlueCols {
    border: 4px solid #398AA4;
    background-color: #245c357c;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;

    a {
        color: white;
    }

    // background-image: url("banner_background.png"),
    // linear-gradient(rgba(52, 123, 190, 1.0), rgba(52, 190, 137, 0.95));
    // background-blend-mode: overlay;
}

table.steelBlueCols td {
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
}

table.steelBlueCols tbody td {
    font-size: 11px;
    // font-weight: bold;
    color: #FFFFFF;
}

table.steelBlueCols tbody tr:hover {
    cursor: default;
    background-color: #c790297c;
}

table.steelBlueCols tr:nth-child(even) {
    background: #398AA47c;

    // background-image: url("banner_background.png"),
    //     linear-gradient(rgba(52, 123, 190, 1.0), rgba(52, 190, 137, 0.95));
    // background-blend-mode: overlay;
}

table.steelBlueCols th {
    background: #398AA47c;
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    border-top: 4px solid #398AA4;

    // background-image: url("banner_background.png"),
    //     linear-gradient(rgb(52, 123, 190), rgba(52, 190, 137, 0.5));
    // background-blend-mode: overlay;
}

table.steelBlueCols thead th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #398AA4;
}

table.steelBlueCols thead th:first-child {
    border-left: none;
}

table.steelBlueCols tfoot td {
    font-size: 13px;
}

table.steelBlueCols tfoot .links {
    text-align: right;
}

table.steelBlueCols tfoot .links a {
    display: inline-block;
    background: #FFFFFF;
    color: #398AA4;
    padding: 2px 8px;
    border-radius: 5px;
}

/*//////////////////////////////////////////////////////////////////
[ Pagination ]*/

.digg_pagination {
    background: transparent;
    cursor: default;
    /* self-clearing method: */
}

.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
    padding: 0.2em 0.5em;
    display: inline-block;
    margin-right: 1px;
}

.digg_pagination .disabled {
    background-color: #245c357c;
    color: #dddddd;
    border: 1px solid #398AA4;
}

.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #398AA4;
    color: white;
    border: 1px solid #398AA4;
}

.digg_pagination a {
    background-color: #245c357c;
    text-decoration: none;
    color: white;
    border: 1px solid #398AA4;
}

.digg_pagination a:hover,
.digg_pagination a:focus {
    border-color: white;
    color: white;
    background-color: #398AA4;
}

.digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .digg_pagination {
    height: 1%;
}

*:first-child+html .digg_pagination {
    overflow: hidden;
}