= form_for([@checklist, @checklist.checklist_items.build]) do |f|
    = f.text_field :description, placeholder: "New Checklist Item"
    = f.select :type, {"Task": "ChecklistItemTask", "Yes/No": "ChecklistItemYesOrNo", "Rating": "ChecklistItemRating"}, include_blank: true
    = f.submit "Add Checklist Item"